<footer>
    <p class="copyright d-flex justify-content-around">
        <span class="text-left">
            <span class="design-footer">©</span> 
            2018 Adeline Odinot 
            <span class="design-footer">|</span> 
            Blog réalisé dans le cadre d'une formation 
            <a class="link" href="https://openclassrooms.com/">Openclassooms</a>
        </span>

        <span class="text-right">
            <a class="link" href="{{ path('legal_notice') }}">Mentions légales</a>
            <span class="design-footer"> | </span>
            <a class="link" href="https://openclassrooms.com/">Contactez-moi</a>
        </span>
    </p>
</footer>