/* --- Animation --- */


@keyframes animationHumorBack {
	0% {
		opacity: 1;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
    }
    
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes animationHumor {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}

/* --- GLOBAL --- */

::selection, .dropdown-item:active
{
    color: white;
    background-color: #ff5a5a !important;
}

.nav-design::selection, .copyright span::selection, .copyright a::selection, .avatar-header::selection
{
    background-color: #b0ade9 !important;
}

*
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.title, .subtitle, .nav-design, .nav-design-admin, .profil-title, .user-profile, .subtitle-shooting
{
    font-family: 'Patrick Hand', cursive;
}

ul
{
    padding: 0px;
    margin: 0px;
}

a 
{
    
    text-decoration: none !important;
}

.title
{
    color: #ff5a5a;
    font-size: 40px;
    text-decoration: underline;

}

.subtitle, .subtitle-admin
{
    text-decoration: underline;
    margin: 0px;
}

.subtitle
{
    font-size: 30px;
    color: #7368ac;
}

a  > .subtitle:hover
{
    color: #504eb3;
}

body
{
    background: url('../images/avengers.jpg') fixed no-repeat right top;
}

.content-admin, .content
{
    padding-top:20px !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding: 0px;
    background-color: white;
}

.content
{
    border: 5px solid #544d7c;
}

.content-body
{
    padding: 50px 0px;
}

.link
{
    color: #544d7c !important;
    text-decoration: underline !important;
}

.link:hover
{
    color:#5e47e3 !important;
}

img, iframe[src*=youtube]
{
    max-width: 100%;
}

/* --- HEADER --- */

.nav-header
{
    background-color: #544d7c !important;
}

.nav-design
{
    color: white !important;    
    font-size:25px;
}

.nav-design:hover
{
    color: #ff7c8d !important;
}

.nav-design-admin:hover
{
    color: #ffe0d0 !important;
}

.logo
{
    padding-bottom: 20px;
}



.flashes
{
    margin: 0px !important;
    padding: 10px !important;
}

/* -- Content -- */

.content-movies, .content-series
{
    margin: 30px 0px 30px 0px;
}

.date, .img-movies, .img-series
{
    margin-top: 20px;
    font-style: italic;
}

.date
{
    color:#ad5164;
    display: block;
}

.more
{
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #7368ac;
    border-color: #7368ac;
    border-radius: 20px 0 20px 0;
}

.more:hover
{
    background-color: #6855c9;
    border-color: #6855c9;
}

.content-movies-show, .content-series-show
{
    margin-top: 20px;
}

.content-humor
{
    margin:10px;
}

.border-bottom
{
    width: 100% !important;
}

/* -- Home -- */

.w-100
{
    height: 550px !important;
    background-size: cover;
}

/* Humor */

 .content-humor figure 
 {
    width: 20%;
    margin: 10px;
    overflow: hidden;
}

.content-humor figcaption 
{
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    bottom: 3px;
    visibility: hidden;
    cursor: pointer;
    color: white;
}

.content-humor figcaption p 
{
    color: white;
}

figure:hover figcaption {
    visibility: visible;
    animation: animationHumor 0.5s ease-out;
}

figure figcaption {
    animation: animationHumorBack 0.5s ease-out;
    transition-duration: 0.5s;
}

/* -- Form -- */

.custom-file-label::after
{
    content: "Ajouter" !important;
    background-color: #7368ac;
    border-left: 1px solid #ccb0ff;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px #d3bbff !important;
}

.custom-file-label
{
    height: auto;
    border: none;
    border: 2px solid #ccb0ff !important;
}

input, textarea
{
    border: 2px solid #ccb0ff !important;
}

.mce-panel, .mce-menubar
{
    border: 1px solid #ccb0ff !important;
}

.mce-txt
{
    font-weight: bold !important;
}

.mce-caret 
{
    border-top-color: #585858 !important;
}

textarea
{
    border-radius: 20px 0 20px 0 !important;
}

input:focus, textarea:focus, .custom-file-input:focus~.custom-file-label
{
    border-color: #a06bff !important;
    box-shadow: 0 0 0 1px #d3bbff !important;
}

.custom-file-input:focus~.custom-file-label::after
{
    border-left: 1px solid #a06bff;
    box-shadow: 0 0 0 1px #a06bff !important;
}


.humor-title, .movie-title, .serie-title
{
    text-decoration: none !important;
}

.form-group
{
    color: #6a52eb;
}

.btn-form
{
    background-color: #7368ac;
    border-color: #7368ac;
    color: white !important;
    border-radius: 20px 0 20px 0;
}

.btn-form:hover
{
    background-color: #6a52eb;
    border-color: #6a52eb;
    color: white;
}

.btn-form-design
{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 3px 0px rgba(81,72,150,1);
}

.btn-form-design:hover
{
    box-shadow: 0px 2px 3px 0px rgb(53, 44, 123);
}

/* --- Comment --- */

.date-comment
{
    color: #937ed1;
    font-size: 14px;
}

.user-comment
{
    color: #79319c;
}

.icon-comment
{
    color: #aaa5ca;
}

.user-comment:hover
{
    color: #c585e2;
}

.label-comment
{
    font-size:30px;
}

.nb-comment
{
    font-size: 25px;
    color:#6a52eb;
}

.connect-to-comment
{
    color: red;
}


/* ----- DEBUT ADMIN ----- */

/* Header */

.nav-design-admin
{
    color: white !important;    
    font-size:20px;
    padding-right: 0px !important;
}

.clap-shooting
{
    font-size: 20px;
}

/* Dashboard Admin */

.subtitle-dashboard
{
    font-size: 1.5rem;
}

.bg-purple
{
    background-color: #9271fd!important;
}

.bg-orange
{
    background-color: #f16438!important;
}

.bg-primary-hover:hover
{
    background-color: #0469d5 !important;
}

.bg-info-hover:hover
{ 
    background-color: #1599ae!important;
}

.bg-secondary-hover:hover
{ 
    background-color: #62696f!important;
}
.bg-success-hover:hover
{ 
    background-color: #23923c!important;
}
.bg-danger-hover:hover
{ 
    background-color: #cd2e3d!important;
}

.bg-purple-hover:hover
{
    background-color: #886be7!important;
}

.bg-orange-hover:hover
{
    background-color: #df5b33!important;
}

.card-body
{
    color: white !important;
}

/* Content Admin */

.title-admin
{
    color: #ff5a5a;
    font-size: 33px;
    text-decoration: underline;

}

.subtitle-admin
{
    font-size: 2rem;
    color:#84566f;
}

.content-admin
{
    border: 5px solid #dc3545;
}

/* Link Admin */

.link-admin
{
    color: #ffe0d0 !important;
    text-decoration: underline !important;
}

.link-admin:hover
{
    color:#f2b190 !important;
}

/* Table Admin */

.table-admin
{
    background-color: #ff5a5a;
    border-color: #ff5a5a;
    color: white !important;
}

.table thead .design-table-dasboard th 
{
    vertical-align: middle;
}

.table thead .design-table-dasboard th 
{
    border-top: 2px solid #a45555 !important;
    border-bottom: 2px solid #a45555 !important;
}

.table-design-dasboard
{
    border-color: #721c24 !important;
}

/* Form Admin */

.admin-icon-trash, .admin-icon-edit
{
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

.admin-icon-trash
{
    background-color: #ff5a5a;
}

.admin-icon-trash:hover
{
    background-color: #ff4343;
}

.admin-icon-edit
{
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    background-color: #9bbbff;
}

.admin-icon-edit:hover
{
    background-color: #8eb1fd;
}

.admin-icon-valid
{
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    background-color: #6aab6d;
}

.btn-admin
{
    background-color: #ff5a5a;
    border-color: #ff5a5a;
    color: white !important;
}

.btn-admin:hover
{
    background-color: #f74848;
    border-color: #f74848;
    color: white;
}

.btn-admin:focus 
{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.tox .tox-notification 
{
    display: none !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset
{
    white-space: pre-wrap !important;
}



/* Comment Admin */

.strong-comment-admin
{
    color: #6a52eb;
}

/* Footer Admin */

.copyright-admin
{
    background-color: #ea5454;
    color: #ffffff;
}

.design-footer-admin
{
    color: #f2b190;
}

/* ----- FIN ADMIN ----- */

/* -- Paginator -- */

.page-item.active .page-link 
{
    color: white !important;
    background-color: #aaa5ca !important;
    border-color: #a07db8 !important;
}

.page-link {
    color: #9758a2 !important;
    border-color: #c3b0c6 !important;
}

/* --- Error --- */

.go-home
{
    background-color: #ea5858;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.go-home:hover
{
    color: white;
    background-color: #dd4040;
}

.error-msg
{
   color: #ff3d3d;
}

/* -- user profil -- */

.title-update-profil-avatar
{
    color: #6a52eb;
}

.img-size
{
    max-width: 100%;
    max-height: 250px;
}


.text-intro
{
    color: black !important;
}

.user-profile
{

    font-size: 30px;
    color: white;
}

.avatar-profil
{
    box-shadow: 0px 0px 4px 3px #bcbcbc;
}

.avatar
{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.avatar-large
{
    width: 80px;
    height: 80px;
}

.avatar-medium
{
    width: 64px;
    height: 64px;
}

.avatar-mini
{
    width: 48px;
    height: 48px;
}

.avatar-micro
{
    width: 35px;
    height: 35px;
}

.profil-title
{
    color: #484893;
    font-size: 30px;
    text-decoration: underline;
}

.profil-title-card
{
    background-color: #d7d7d7;
    color:#7a38a0;
}

/* --- Table --- */

.table thead th {
    vertical-align: middle !important;
}

.table td, .table th
{
    vertical-align: middle;
}

/* -- Map Shootings -- */

#map
{
    width:100%;
    height: 500px;
    top:0; 
    bottom:0;
}

.marker
{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mapboxgl-popup 
{
    max-width: 200px;
}

.mapboxgl-popup-content 
{
    text-align: center;
}

.hide
{
    display: none;
}

.subtitle-shooting
{
    color: #7368ac;
    font-size: 25px;
}

.informations-shooting
{
    border-top: 2px solid #7368ac;
    border-bottom: 2px solid #7368ac;
    
}

.img-marker-shooting
{
    height: 50px;
    width: 50px;
}

/* --- Footer --- */

.copyright, .copyright-admin
{
    margin: 0px;
    padding: 15px;
}

.copyright
{
    background-color: #aaa5ca;
    color: #544d7c;
}

/* --- Media Queries --- */

@media (max-width: 1000px) {
    .navbar .navbar-nav {
        display: flex;
    }

}

@media (max-width: 520px)
{
    .row-blog
    {
       width: 100% !important;
       margin: 0px !important;
    }

    .content-blog
    {
        padding: 0px !important;
    }
}

@media (max-width: 380px)
{
    .custom-file-input 
    {
        margin: 40px !important;
    }
}
