{% extends 'admin/base.html.twig' %}

{% block title %} Administration - Tableau de bord | Marvel Passion {% endblock %}

{% block body %}

    <section class="d-flex flex-column align-items-center">

        <h1 class="text-center title mb-5">Tableau de bord</h1>
        <div class="container-fluid">
            <div class="row ml-2 mr-2">

                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-primary bg-primary-hover', 'path': 'admin_users_index', 'alt': 'administration des utilisateurs', 'classIcon': 'fas fa-users fa-2x', 'number': stats.users, 'text': 'utilisateurs inscrits' } %}
                
                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-info bg-info-hover', 'path': 'admin_comments_index', 'alt': 'administration des commentaires', 'classIcon': 'fas fa-comments fa-2x', 'number': stats.comments, 'text': 'commentaires' } %}
 
                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-secondary bg-secondary-hover', 'path': 'admin_movies_index', 'alt': 'administration des films', 'classIcon': 'fas fa-film fa-2x', 'number':  stats.movies , 'text': 'articles de film postés' } %}
                
                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-purple bg-purple-hover', 'path': 'admin_series_index', 'alt': 'administration des séries', 'classIcon': 'fas fa-film fa-2x', 'number': stats.series, 'text': 'articles de série postés' } %}

                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-danger bg-danger-hover', 'path': 'admin_humor_index', 'alt': 'administration des humours', 'classIcon': 'fas fa-grin-squint-tears fa-2x', 'number': stats.humor, 'text': 'articles d\'humour postés' } %}

                {% include 'admin/common/cardDashboard.html.twig' with {'classBg': 'bg-orange bg-orange-hover', 'path': 'admin_shootings_index', 'alt': 'administration des tournages', 'classIcon': 'fas fa-video fa-2x', 'number': stats.shootings, 'text': 'lieux de tournage postés' } %}

            </div>

            <div class="row">
                
                {% include 'admin/common/lastInfoDashboard.html.twig' with {'classIcon': 'fas fa-film fa-1x', 'titleText': 'Les films', 'titleCard': 'Les derniers articles de film', 'th1': 'Titre du film', 'th2': 'Auteur', 'infos': movies } %}

                {% include 'admin/common/lastInfoDashboard.html.twig' with {'classIcon': 'fas fa-film fa-1x', 'titleText': 'Les series', 'titleCard': 'Les derniers articles de série', 'th1': 'Titre de la série', 'th2': 'Auteur', 'infos': series } %}

                {% include 'admin/common/lastInfoDashboard.html.twig' with {'classIcon': 'fas fa-grin-squint-tears fa-1x', 'titleText': 'Les humours', 'titleCard': 'Les derniers articles d\'humour', 'th1': 'Titre de l\'humour', 'th2': 'Auteur', 'infos': series } %}

                {% include 'admin/common/lastInfoDashboard.html.twig' with {'classIcon': 'fas fa-video fa-1x', 'titleText': 'Les tournages', 'titleCard': 'Les derniers lieux de tournage', 'th1': 'Titre', 'th2': 'Adresse', 'infos': shootings } %}

                {% include 'admin/common/lastInfoDashboard.html.twig' with {'classIcon': 'fas fa-comments fa-1x', 'titleText': 'Les commentaires', 'titleCard': 'Les derniers commentaires', 'th1': 'Auteur', 'th2': 'Contenu', 'infos': comments } %}

            </div>
        </div>
    </section>

{% endblock %}